@page "/counter"
@using Microsoft.Fast.Components.FluentUI

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<FluentButton @onclick="IncrementCount">Click me</FluentButton>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
