@page "/counter"
@using Microsoft.Fast.Components.FluentUI

<h1>Counter</h1>

<p class="my-text-scoped-css">Current count: @currentCount</p>

<FluentButton class="my-button-scoped-css" @onclick="IncrementCount">Click me - scoped css</FluentButton>

<style>
    .my-button-local-css {
        background: red;
    }
</style>
<FluentButton class="my-button-local-css" @onclick="IncrementCount">Click me - local css</FluentButton>

<FluentButton style="background: red;" @onclick="IncrementCount">Click me - inline css</FluentButton>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
